fleet_control:
  endpoint: <opamp-endpoint>
  poll_interval: 5s
  signature_validation:
    certificate_pem_file_path: <cert-path>
k8s:
  namespace: <ns>
  namespace_agents: <agents-ns>
  cluster_name: <cluster-name>
  cr_type_meta:
  - apiVersion: newrelic.com/v1
    kind: Bar
agents: {}
