k8s:
  namespace: <ns>
  namespace_agents: <agents-ns>
  cluster_name: <cluster-name>
  auth_secret:
    secret_name: agent-control-auth
    secret_key_name: private_key
agents:
  hello-world:
    agent_type: "newrelic/com.newrelic.custom_agent:0.0.1"
secrets_providers:
  vault:
    sources:
      sourceA:
        url: http://127.0.0.1:8200/v1/
        token: root
        engine: kv1
      sourceB:
        url: http://127.0.0.1:8200/v1/
        token: root
        engine: kv2
