#
# New Relic Super Agent configuration file.
#
# Lines that begin with a # are comment lines and are ignored by the server
# monitor. For those options that have command line equivalents, if the
# option is specified on the command line it will over-ride any value set
# in this file.
#

opamp:
  endpoint: {{ opamp_endpoint }}
  headers:
    api-key: {{ nr_license_key }}

agents:
  nr-infra-agent:
    agent_type: "newrelic/com.newrelic.infrastructure_agent:{{ infra_agent_type_version }}"
  nr-otel-collector:
    agent_type: "newrelic/io.opentelemetry.collector:{{ otel_agent_type_version }}"
