[testing_hosts_linux]
%{ for index, vms in host-ids ~}
${vms} ansible_user=${host-user[index]} ansible_host=${host-private-ip[index]} host_unique_id=${host-unique-id[index]}
%{ endfor ~}

[testing_hosts_linux:vars]
ansible_ssh_private_key_file=~/.ssh/caos-dev-arm.cer
ansible_ssh_common_args='-o StrictHostKeyChecking=no'