opamp:
  endpoint: https://opamp.staging-service.newrelic.com/v1/opamp
  headers:
    api-key: test-api-key
k8s:
  namespace: <ns>
  cluster_name: minikube
agents:
  open-telemetry:
    agent_type: "newrelic/io.opentelemetry.collector:0.0.1"