name: Latest Flux e2e

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    # Scheduled to run at 5 a.m on mondays.
    - cron: "0 5 * * 1"

jobs:
  k8s-e2e-tests-latest-flux:
    uses: ./.github/workflows/component_k8s_e2e.yml
    with:
      scenarios: '["apm", "collector", "fleet-control", "ebpf", "dynamic"]'
      use_latest_flux: true
    secrets:
      NR_SYSTEM_IDENTITY_CLIENT_ID: ${{ secrets.AC_PROD_E2E_NR_SYSTEM_IDENTITY_CLIENT_ID }}
      NR_SYSTEM_IDENTITY_PRIVATE_KEY: ${{ secrets.AC_PROD_E2E_NR_SYSTEM_IDENTITY_PRIVATE_KEY }}
      E2E_ACCOUNT_ID: ${{ secrets.AC_PROD_E2E_ACCOUNT_ID }}
      E2E_API_KEY: ${{ secrets.AC_PROD_E2E_API_KEY }}
      E2E_LICENSE_KEY: ${{ secrets.AC_PROD_E2E_LICENSE_KEY }}

  notify-failure:
    if: ${{ always() && failure() }}
    needs:
      - k8s-e2e-tests-latest-flux
    runs-on: ubuntu-latest
    steps:
      - name: Notify failure via Slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          payload: |
            {
              "text": ":warning: [Latest Flux e2e workflow failed] @hero check <${{ env.GITHUB_JOB_URL }}>"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.AC_SLACK_WEBHOOK }}
          GITHUB_JOB_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
