name: Lint PR title

on:
  pull_request:
    types:
      - opened
      - edited

permissions:
  contents: read

jobs:
  commitlint:
    runs-on: linux-4-core-nr-control
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.12.0

      - name: Install commitlint with default config
        run: |
          npm i @commitlint/cli
          npm i @commitlint/config-conventional

      - name: Validate PR title
        run: echo '${{ github.event.pull_request.title }}' | npx commitlint --extends @commitlint/config-conventional
