name: Nightly release

# Pushes `nightly` image tag as scheduled.

on:
  push:
    branches:
      - poc-flux-previous

jobs:

  build-image:
    name: Build and Push nightly image
    uses: ./.github/workflows/component_image.yml
    with:
      # the packages are created with 0.100.run_id, however we still push the image with nightly
      image-tag: 1.4.0-dev-legacy-flux
      ac-version: "1.4.0-dev-legacy-flux"
      push: true
    secrets: inherit

  security-image:
    name: Security scan
    needs: [ build-image ]
    uses: ./.github/workflows/component_image_security.yml
    with:
      # the packages are created with 0.100.run_id, however we still push the image with nightly
      image-tag: 1.4.0-dev-legacy-flux
    secrets: inherit

  security-source-code:
    uses: ./.github/workflows/component_security.yml
