on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/**"
      - "build/**"
      - "Dockerfiles/**"
      - ".goreleaser.yml"
      - "**/Cargo.toml" # Also run it when dependencies change

# See https://docs.github.com/en/actions/using-jobs/using-concurrency
name: build-packages and image

jobs:
  build-packages:
    name: Build packages
    uses: ./.github/workflows/component_packages.yml
    with:
      pre-release: false
      tag_name: 0.100.0
    secrets: inherit

  build-image:
    name: Build image
    uses: ./.github/workflows/component_image.yml
    with:
      image-tag: 0.100.0
      push: false
    secrets: inherit
