name: build-packages and image

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/**"
      - "build/**"
      - "Dockerfiles/**"
      - ".goreleaser.yml"
      - "**/Cargo.toml" # Also run it when dependencies change

permissions:
  contents: read

jobs:
  build-packages:
    name: Build packages
    uses: ./.github/workflows/component_packages.yml
    with:
      pre-release: false
      skip_upload_artifact: true
      skip_sign: true
      tag_name: 0.100.0

  build-image:
    name: Build image
    uses: ./.github/workflows/component_image.yml
    with:
      image-tag: 0.100.0
      ac-version: 0.100.0
      push: false
    secrets: inherit
