on:
  release:
    types:
      - released
    tags:
      - '*'

# See https://docs.github.com/en/actions/using-jobs/using-concurrency
name: Release
jobs:
  upload:
    runs-on: ubuntu-latest
    name: Upload to S3
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      #download release assets
      - name: Download release
        run: gh release download ${{ github.event.release.tag_name }} --dir ./dist/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish deb to S3 action
        uses: newrelic/infrastructure-publish-action@v1
        with:
          tag: ${{ github.event.release.tag_name }}
          app_name: "newrelic-agent-control"
          repo_name: ${{ github.repository }}
          schema: "custom-local"
          schema_path: "/srv/build/upload-schema-linux-deb.yml"
          aws_access_key_id: ${{ secrets.TMP_OHAI_AWS_ACCESS_KEY_ID_PRODUCTION }}
          aws_secret_access_key: ${{ secrets.TMP_OHAI_AWS_SECRET_ACCESS_KEY_PRODUCTION }}
          aws_s3_bucket_name: "nr-downloads-main"
          aws_s3_lock_bucket_name: "onhost-ci-lock"
          access_point_host: "production"
          run_id: ${{ github.run_id }}
          aws_region: "us-east-1"
          aws_role_session_name: ${{ secrets.TMP_OHAI_AWS_ROLE_SESSION_NAME_PRODUCTION }}
          aws_role_arn: ${{ secrets.TMP_OHAI_AWS_ROLE_ARN_PRODUCTION }}
          # used for signing package stuff
          gpg_passphrase: ${{ secrets.OHAI_GPG_PASSPHRASE }}
          gpg_private_key_base64: ${{ secrets.OHAI_GPG_PRIVATE_KEY_BASE64 }} # base64 encoded
          disable_lock: false
          dest_prefix: "preview/"
          local_packages_path: "/srv/dist/"
          apt_skip_mirror: false # todo, update for next releases

      - name: Publish rpm to S3 action
        uses: newrelic/infrastructure-publish-action@v1
        with:
          tag: ${{ github.event.release.tag_name }}
          app_name: "newrelic-agent-control"
          repo_name: ${{ github.repository }}
          schema: "custom-local"
          schema_path: "/srv/build/upload-schema-linux-rpm.yml"
          aws_access_key_id: ${{ secrets.TMP_OHAI_AWS_ACCESS_KEY_ID_PRODUCTION }}
          aws_secret_access_key: ${{ secrets.TMP_OHAI_AWS_SECRET_ACCESS_KEY_PRODUCTION }}
          aws_s3_bucket_name: "nr-downloads-main"
          aws_s3_lock_bucket_name: "onhost-ci-lock"
          access_point_host: "production"
          run_id: ${{ github.run_id }}
          aws_region: "us-east-1"
          aws_role_session_name: ${{ secrets.TMP_OHAI_AWS_ROLE_SESSION_NAME_PRODUCTION }}
          aws_role_arn: ${{ secrets.TMP_OHAI_AWS_ROLE_ARN_PRODUCTION }}
          # used for signing package stuff
          gpg_passphrase: ${{ secrets.OHAI_GPG_PASSPHRASE }}
          gpg_private_key_base64: ${{ secrets.OHAI_GPG_PRIVATE_KEY_BASE64 }} # base64 encoded
          disable_lock: false
          dest_prefix: "preview/"
          local_packages_path: "/srv/dist/"
          apt_skip_mirror: false
  
  push-container-tags:
    runs-on: ubuntu-latest
    name: Push container release tags
    env:
      DOCKER_IMAGE_NAME_AGENT_CONTROL: newrelic/newrelic-agent-control
      DOCKER_IMAGE_NAME_AGENT_CONTROL_CLI: newrelic/newrelic-agent-control-cli
    steps:
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      
      # Push multi-arch pre-released images with release tags 
      - name: Push release tags
        run: |
          docker buildx imagetools create \
            -t $DOCKER_IMAGE_NAME_AGENT_CONTROL:${{ github.event.release.tag_name }} \
            -t $DOCKER_IMAGE_NAME_AGENT_CONTROL:latest \
            $DOCKER_IMAGE_NAME_AGENT_CONTROL:${{ github.event.release.tag_name }}-rc
          
          docker buildx imagetools create \
            -t $DOCKER_IMAGE_NAME_AGENT_CONTROL_CLI:${{ github.event.release.tag_name }} \
            -t $DOCKER_IMAGE_NAME_AGENT_CONTROL_CLI:latest \
            $DOCKER_IMAGE_NAME_AGENT_CONTROL_CLI:${{ github.event.release.tag_name }}-rc


  molecule-packaging-tests:
    uses: ./.github/workflows/component_molecule_packaging.yml
    needs: [ upload ]
    with:
      TAG: ${{ github.event.inputs.tag_name || github.event.release.tag_name }}
      PACKAGE_NAME: "newrelic-agent-control"
      REPO_ENDPOINT: 'https://download.newrelic.com/preview'

